 /* Default button style  */
 .cell {
    align-items: center;
    appearance: none;
    border-radius: 8px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
                #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    line-height: 1;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px; 
    display: flex;
    justify-content: center;
    border: 2px solid #ccc; 
    padding: 10px;
    max-width: 100px;

    /* break sentence */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal; 
    white-space: normal; 
    text-align: center;
}

.cell:focus {
    /* background: lime; */
    /* tohle dela ten vronerej efekt  */
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(72, 0, 227, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.cell-hover:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.cell-hover-default:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.cell-hover:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    background: lime;
}   
.cell-hover-default:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}   
.cell-active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    background: lime;
}

.bingo-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}